In [2]:
# Step 1: Load Data

import pandas as pd
dataset = pd.read_csv("Datasets/Cleaned_dataset_titanic.csv")

In [6]:
# Step 2: Check Memory Usage

dataset.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   name         891 non-null    object
 4   sex          891 non-null    object
 5   age          891 non-null    float64
 6   sibsp        891 non-null    int64
 7   parch        891 non-null    int64
 8   ticket       891 non-null    object
 9   fare         891 non-null    float64
 10  embarked     891 non-null    object
 11  age_group    891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 335.5 KB

In [12]:
dataset.head(10)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked,age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S,Adult
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,Q,Adult
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,S,Adult
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,S,Child
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,S,Adult
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,C,Child

In [10]:
# Step 3: Optimize Data Types (BIGGEST WIN)
# Convert object → category

dataset['sex'] = dataset['sex'].astype('category')
dataset['embarked'] = dataset['embarked'].astype('category')
dataset['age_group'] = dataset['age_group'].astype('category')

In [14]:
# Convert int → smaller int

dataset['sibsp'] = dataset['sibsp'].astype('int8')
dataset['parch'] = dataset['parch'].astype('int8')
dataset['survived'] = dataset['survived'].astype('int8')
dataset['pclass'] = dataset['pclass'].astype('int8')

In [16]:
# Step 4: Use usecols While Reading CSV

df_small = pd.read_csv(
    "Datasets/Cleaned_dataset_titanic.csv",
    usecols=['survived', 'pclass', 'sex', 'age', 'fare']
)

In [18]:
df_small

     survived  pclass     sex        age     fare
0           0       3    male  22.000000   7.2500
1           1       1  female  38.000000  71.2833
2           1       3  female  26.000000   7.9250
3           1       1  female  35.000000  53.1000
4           0       3    male  35.000000   8.0500
..        ...     ...     ...        ...      ...
886         0       2    male  27.000000  13.0000
887         1       1  female  19.000000  30.0000
888         0       3  female  29.699118  23.4500
889         1       1    male  26.000000  30.0000
890         0       3    male  32.000000   7.7500

[891 rows x 5 columns]

In [26]:
# Step 5: Avoid apply(axis=1)
# avoid

dataset['family_size'] = dataset.apply(
    lambda r: r['sibsp'] + r['parch'] + 1,
    axis=1
) 

# Fast:
dataset['family_size'] = dataset['sibsp'] + dataset['parch'] + 1

In [28]:
# Step 6: Use Vectorized Conditions

import numpy as np

dataset['fare_level'] = np.where(dataset['fare'] > 100, 'High', 'Low')

In [30]:
# Step 7: Efficient Filtering

dataset.query("fare > 100 and pclass == 1")

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked,age_group,family_size,fare_level
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,S,Adult,6,High
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,29.699118,1,0,PC 17569,146.5208,C,Adult,2,High
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.000000,3,2,19950,263.0000,S,Adult,6,High
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.000000,0,1,PC 17558,247.5208,C,Adult,2,High
195,196,1,1,"Lurette, Miss. Elise",female,58.000000,0,0,PC 17569,146.5208,C,Adult,1,High
215,216,1,1,"Newell, Miss. Madeleine",female,31.000000,1,0,35273,113.2750,C,Adult,2,High
258,259,1,1,"Ward, Miss. Anna",female,35.000000,0,0,PC 17755,512.3292,C,Adult,1,High
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.000000,0,1,PC 17582,153.4625,S,Adult,2,High
269,270,1,1,"Bissette, Miss. Amelia",female,35.000000,0,0,PC 17760,135.6333,S,Adult,1,High
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.000000,1,2,113781,151.5500,S,Child,4,High
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.000000,0,1,PC 17558,247.5208,C,Adult,2,High
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.920000,1,2,113781,151.5500,S,Child,4,High
306,307,1,1,"Fleming, Miss. Margaret",female,29.699118,0,0,17421,110.8833,C,Adult,1,High
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.000000,1,0,PC 17758,108.9000,C,Child,2,High
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.000000,2,2,PC 17608,262.3750,C,Adult,5,High
318,319,1,1,"Wick, Miss. Mary Natalie",female,31.000000,0,2,36928,164.8667,S,Adult,3,High
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.000000,1,1,16966,134.5000,C,Adult,3,High
325,326,1,1,"Young, Miss. Marie Grice",female,36.000000,0,0,PC 17760,135.6333,C,Adult,1,High
332,333,0,1,"Graham, Mr. George Edward",male,38.000000,0,1,PC 17582,153.4625,S,Adult,2,High
334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,29.699118,1,0,PC 17611,133.6500,S,Adult,2,High
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.000000,0,0,16966,134.5000,C,Adult,1,High
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.000000,3,2,19950,263.0000,S,Adult,6,High
373,374,0,1,"Ringhini, Mr. Sante",male,22.000000,0,0,PC 17760,135.6333,C,Adult,1,High
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.000000,0,2,113503,211.5000,C,Adult,3,High
380,381,1,1,"Bidois, Miss. Rosalie",female,42.000000,0,0,PC 17757,227.5250,C,Adult,1,High
390,391,1,1,"Carter, Mr. William Ernest",male,36.000000,1,2,113760,120.0000,S,Adult,4,High
393,394,1,1,"Newell, Miss. Marjorie",female,23.000000,1,0,35273,113.2750,C,Adult,2,High
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.000000,1,2,113760,120.0000,S,Child,4,High
438,439,0,1,"Fortune, Mr. Mark",male,64.000000,1,4,19950,263.0000,S,Senior,6,High
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.000000,1,2,113781,151.5500,S,Adult,4,High
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.000000,1,0,PC 17758,108.9000,C,Adult,2,High
527,528,0,1,"Farthing, Mr. John",male,29.699118,0,0,PC 17483,221.7792,S,Adult,1,High
537,538,1,1,"LeRoy, Miss. Bertha",female,30.000000,0,0,PC 17761,106.4250,C,Adult,1,High
544,545,0,1,"Douglas, Mr. Walter Donald",male,50.000000,1,0,PC 17761,106.4250,C,Adult,2,High
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.000000,0,2,17421,110.8833,C,Child,3,High
557,558,0,1,"Robbins, Mr. Victor",male,29.699118,0,0,PC 17757,227.5250,C,Adult,1,High
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.000000,1,1,17421,110.8833,C,Adult,3,High
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.000000,0,0,PC 17582,153.4625,S,Adult,1,High
659,660,0,1,"Newell, Mr. Arthur Webster",male,58.000000,0,2,35273,113.2750,C,Adult,3,High
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.000000,2,0,PC 17611,133.6500,S,Adult,3,High
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.000000,0,1,PC 17755,512.3292,C,Adult,2,High
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.000000,0,1,24160,211.3375,S,Child,2,High
698,699,0,1,"Thayer, Mr. John Borland",male,49.000000,1,1,17421,110.8833,C,Adult,3,High
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.000000,1,0,PC 17757,227.5250,C,Adult,2,High
708,709,1,1,"Cleaver, Miss. Alice",female,22.000000,0,0,113781,151.5500,S,Adult,1,High
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.000000,0,0,PC 17757,227.5250,C,Adult,1,High
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.000000,0,0,24160,211.3375,S,Adult,1,High
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.000000,0,0,PC 17755,512.3292,C,Adult,1,High
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.000000,2,2,PC 17608,262.3750,C,Adult,5,High
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.000000,1,2,113760,120.0000,S,Adult,4,High
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.000000,0,1,24160,211.3375,S,Adult,2,High
802,803,1,1,"Carter, Master. William Thornton II",male,11.000000,1,2,113760,120.0000,S,Child,4,High
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.000000,1,1,36928,164.8667,S,Adult,3,High

In [32]:
 # Step 8: Chunk Processing (Large Files)

chunks = pd.read_csv("Datasets/Cleaned_dataset_titanic.csv", chunksize=200)

for chunk in chunks:
    print(chunk.shape)

(200, 12)
(200, 12)
(200, 12)
(200, 12)
(91, 12)